#bar_1{
    height: 1em;
    background-color: #050505;
    animation: bar_1 5s;
    -webkit-animation: bar_1 5s;
}
@keyframes bar_1{
    from{background-color: #0099ff;}
    to {background-color:  #050505;}
}
@-webkit-keyframes bar_1{
    from {background-color: #0099ff;}
    to {background-color:  #050505;}
}
#bar_2{
    height: 1em;
    background-color: #0a0909;
    animation: bar_2 5s;
    -webkit-animation: bar_2 5s;
}
@keyframes bar_2{
    from{background-color: #28a8fd;}
    to {background-color:  #0a0909;}
}
@-webkit-keyframes bar_2{
    from {background-color: #28a8fd;}
    to {background-color:  #0a0909;}
}
#bar_3{
    height: 1em;
    background-color: #0c0a0c;
    animation: bar_3 5s;
    -webkit-animation: bar_3 5s;
}
@keyframes bar_3{
    from{background-color: #47b6ff;}
    to {background-color:  #0c0a0c;}
}
@-webkit-keyframes bar_3{
    from {background-color: #47b6ff;}
    to {background-color:  #0c0a0c;}
}
#bar_4{
    height: 1em;
    background-color: #0e0b0e;
    animation: bar_4 5s;
    -webkit-animation: bar_4 5s;
}
@keyframes bar_4{
    from{background-color: #58bcff;}
    to {background-color:  #0e0b0e;}
}
@-webkit-keyframes bar_4{
    from {background-color: #58bcff;}
    to {background-color:  #0e0b0e;}
}
#bar_5{
    height: 1em;
    background-color: #0f0d0f;
    animation: bar_5 5s;
    -webkit-animation: bar_5 5s;
}
@keyframes bar_5{
    from{background-color: #75c8ff;}
    to {background-color:  #0f0d0f;}
}
@-webkit-keyframes bar_5{
    from {background-color: #75c8ff;}
    to {background-color:  #0f0d0f;}
}
#bar_6{
    height: 1em;
    background-color: #110e11;
    animation: bar_6 5s;
    -webkit-animation: bar_6 5s;
}
@keyframes bar_6{
    from{background-color: #90d3ff;}
    to {background-color:  #110e11;}
}
@-webkit-keyframes bar_6{
    from {background-color: #90d3ff;}
    to {background-color:  #110e11;}
}
#bar_7{
    height: 1em;
    background-color: #131013;
    animation: bar_7 5s;
    -webkit-animation: bar_7 5s;
}
@keyframes bar_7{
    from{background-color: #a0d9ff;}
    to {background-color:  #131013;}
}
@-webkit-keyframes bar_7{
    from {background-color: #a0d9ff;}
    to {background-color:  #131013;}
}
#bar_8{
    height: 1em;
    background-color: #161216;
    animation: bar_8 5s;
    -webkit-animation: bar_8 5s;
}
@keyframes bar_8{
    from{background-color: #aeddfc;}
    to {background-color:  #161216;}
}
@-webkit-keyframes bar_8{
    from {background-color: #aeddfc;}
    to {background-color:  #161216;}
}
#bar_9{
    height: 1em;
    background-color: #181318;
    animation: bar_9 5s;
    -webkit-animation: bar_9 5s;
}
@keyframes bar_9{
    from{background-color: #b7e1fd;}
    to {background-color:  #181318;}
}
@-webkit-keyframes bar_9{
    from {background-color: #b7e1fd;}
    to {background-color:  #181318;}
}
#bar_10{
    height: 1em;
    background-color: #1a151a;
    animation: bar_10 5s;
    -webkit-animation: bar_10 5s;
}
@keyframes bar_10{
    from{background-color: #c1e6ff;}
    to {background-color:  #1a151a;}
}
@-webkit-keyframes bar_10{
    from {background-color: #c1e6ff;}
    to {background-color:  #1a151a;}
}
#bar_11{
    height: 1em;
    background-color: #1d171d;
    animation: bar_11 5s;
    -webkit-animation: bar_11 5s;
}
@keyframes bar_11{
    from{background-color: #c9e9ff;}
    to {background-color:  #1d171d;}
}
@-webkit-keyframes bar_11{
    from {background-color: #c9e9ff;}
    to {background-color:  #1d171d;}
}
#bar_12{
    height: 1em;
    background-color: #1f1a1f;
    animation: bar_12 5s;
    -webkit-animation: bar_12 5s;
}
@keyframes bar_12{
    from{background-color: #d2eeff;}
    to {background-color:  #1f1a1f;}
}
@-webkit-keyframes bar_12{
    from {background-color: #d2eeff;}
    to {background-color:  #1f1a1f;}
}
#bar_13{
    height: 1em;
    background-color: #221d22;
    animation: bar_13 5s;
    -webkit-animation: bar_13 5s;
}
@keyframes bar_13{
    from{background-color: #dbf1ff;}
    to {background-color:  #221d22;}
}
@-webkit-keyframes bar_13{
    from {background-color: #dbf1ff;}
    to {background-color:  #221d22;}
}
#bar_14{
    height: 1em;
    background-color: #241f25;
    animation: bar_14 5s;
    -webkit-animation: bar_14 5s;
}
@keyframes bar_14{
    from{background-color: #e3f4ff;}
    to {background-color:  #241f25;}
}
@-webkit-keyframes bar_14{
    from {background-color: #e3f4ff;}
    to {background-color:  #241f25;}
}
#bar_15{
    height: 1em;
    background-color: #282229;
    animation: bar_15 5s;
    -webkit-animation: bar_15 5s;
}
@keyframes bar_15{
    from{background-color: #e8f7ff;}
    to {background-color:  #282229;}
}
@-webkit-keyframes bar_15{
    from {background-color: #e8f7ff;}
    to {background-color:  #282229;}
}
#bar_16{
    height: 1em;
    background-color: #2b252c;
    animation: bar_16 5s;
    -webkit-animation: bar_16 5s;
}
@keyframes bar_16{
    from{background-color: #edf9ff;}
    to {background-color:  #2b252c;}
}
@-webkit-keyframes bar_16{
    from {background-color: #edf9ff;}
    to {background-color:  #2b252c;}
}
#bar_17{
    height: 1em;
    background-color: #2d272e;
    animation: bar_17 5s;
    -webkit-animation: bar_17 5s;
}
@keyframes bar_17{
    from{background-color: #f0faff;}
    to {background-color:  #2d272e;}
}
@-webkit-keyframes bar_17{
    from {background-color: #f0faff;}
    to {background-color:  #2d272e;}
}
#bar_18{
    height: 1em;
    background-color: #302931;
    animation: bar_18 5s;
    -webkit-animation: bar_18 5s;
}
@keyframes bar_18{
    from{background-color: #f4faff;}
    to {background-color:  #302931;}
}
@-webkit-keyframes bar_18{
    from {background-color: #f4faff;}
    to {background-color:  #302931;}
}
#bar_19{
    height: 1em;
    background-color: #332C34;
    animation: bar_19 5s;
    -webkit-animation: bar_19 5s;
}
@keyframes bar_19{
    from{background-color: #f7fbff;}
    to {background-color:  #332C34;}
}
@-webkit-keyframes bar_18{
    from {background-color: #f7fbff;}
    to {background-color:  #332C34;}
}
#bar_20{
    height: 1em;
    background-color: #352E36;
    animation: bar_20 5s;
    -webkit-animation: bar_20 5s;
}
@keyframes bar_20{
    from{background-color: #f6fbff;}
    to {background-color:  #352E36;}
}
@-webkit-keyframes bar_20{
    from {background-color: #f6fbff;}
    to {background-color:  #352E36;}
}
#bar_21{
    height: 1em;
    background-color: #373038;
    animation: bar_21 5s;
    -webkit-animation: bar_21 5s;
}
@keyframes bar_21{
    from{background-color: #f6fbff;}
    to {background-color:  #373038;}
}
@-webkit-keyframes bar_21{
    from {background-color: #f6fbff;}
    to {background-color:  #373038;}
}
#bar_22{
    height: 1em;
    background-color: #39323A;
    animation: bar_22 5s;
    -webkit-animation: bar_22 5s;
}
@keyframes bar_22{
    from{background-color: #f6fbff;}
    to {background-color:  #39323A;}
}
@-webkit-keyframes bar_22{
    from {background-color: #f6fbff;}
    to {background-color:  #39323A;}
}
#bar_23{
    height: 1em;
    background-color: #3c343d;
    animation: bar_23 5s;
    -webkit-animation: bar_23 5s;
}
@keyframes bar_23{
    from{background-color: #f6fbff;}
    to {background-color:  #3c343d;}
}
@-webkit-keyframes bar_23{
    from {background-color: #f6fbff;}
    to {background-color:  #3c343d;}
}
#bar_24{
    height: 1em;
    background-color: #413740;
    animation: bar_24 5s;
    -webkit-animation: bar_24 5s;
}
@keyframes bar_24{
    from{background-color: #f6fbff;}
    to {background-color:  #413740;}
}
@-webkit-keyframes bar_24{
    from {background-color: #f6fbff;}
    to {background-color:  #413740;}
}
#bar_25{
    height: 1em;
    background-color: #473A44;
    animation: bar_25 5s;
    -webkit-animation: bar_25 5s;
}
@keyframes bar_25{
    from{background-color: #f6fbff;}
    to {background-color:  #473A44;}
}
@-webkit-keyframes bar_25{
    from {background-color: #f6fbff;}
    to {background-color:  #473A44;}
}
#bar_26{
    height: 1em;
    background-color: #4E3E48;
    animation: bar_26 5s;
    -webkit-animation: bar_26 5s;
}
@keyframes bar_26{
    from{background-color: #f6fbff;}
    to {background-color:  #4E3E48;}
}
@-webkit-keyframes bar_26{
    from {background-color: #f6fbff;}
    to {background-color:  #4E3E48;}
}
#bar_27{
    height: 1em;
    background-color: #58434C;
    animation: bar_27 5s;
    -webkit-animation: bar_27 5s;
}
@keyframes bar_27{
    from{background-color: #f6fbff;}
    to {background-color:  #58434C;}
}
@-webkit-keyframes bar_27{
    from {background-color: #f6fbff;}
    to {background-color:  #58434C;}
}
#bar_28{
    height: 1em;
    background-color: #634851;
    animation: bar_28 5s;
    -webkit-animation: bar_28 5s;
}
@keyframes bar_28{
    from{background-color: #f6fbff;}
    to {background-color:  #634851;}
}
@-webkit-keyframes bar_28{
    from {background-color: #f6fbff;}
    to {background-color:  #634851;}
}
#bar_29{
    height: 1em;
    background-color: #714e57;
    animation: bar_29 5s;
    -webkit-animation: bar_29 5s;
}
@keyframes bar_29{
    from{background-color: #f9fcff;}
    to {background-color:  #714e57;}
}
@-webkit-keyframes bar_29{
    from {background-color: #f9fcff;}
    to {background-color:  #714e57;}
}
#bar_30{
    height: 1em;
    background-color: #7f555d;
    animation: bar_30 5s;
    -webkit-animation: bar_30 5s;
}
@keyframes bar_30{
    from{background-color: #f7fbff;}
    to {background-color:  #7f555d;}
}
@-webkit-keyframes bar_30{
    from {background-color: #f7fbff;}
    to {background-color:  #7f555d;}
}
#bar_31{
    height: 1em;
    background-color: #8F5D63;
    animation: bar_31 5s;
    -webkit-animation: bar_31 5s;
}
@keyframes bar_31{
    from{background-color: #f7fcf9;}
    to {background-color:  #8F5D63;}
}
@-webkit-keyframes bar_31{
    from {background-color: #f7fcf9;}
    to {background-color:  #8F5D63;}
}
#bar_32{
    height: 1em;
    background-color: #A06469;
    animation: bar_32 5s;
    -webkit-animation: bar_32 5s;
}
@keyframes bar_32{
    from{background-color: #f7fdf9;}
    to {background-color:  #A06469;}
}
@-webkit-keyframes bar_32{
    from {background-color: #f7fdf9;}
    to {background-color:  #A06469;}
}
#bar_33{
    height: 1em;
    background-color: #AE696E;
    animation: bar_33 5s;
    -webkit-animation: bar_33 5s;
}
@keyframes bar_33{
    from{background-color: #f6fff8;}
    to {background-color:  #AE696E;}
}
@-webkit-keyframes bar_33{
    from {background-color: #f6fff8;}
    to {background-color:  #AE696E;}
}
#bar_34{
    height: 1em;
    background-color: #BA6E72;
    animation: bar_34 5s;
    -webkit-animation: bar_34 5s;
}
@keyframes bar_34{
    from{background-color: #f6fff8;}
    to {background-color:  #BA6E72;}
}
@-webkit-keyframes bar_34{
    from {background-color: #f6fff8;}
    to {background-color:  #BA6E72;}
}
#bar_35{
    height: 1em;
    background-color: #C97374;
    animation: bar_35 5s;
    -webkit-animation: bar_35 5s;
}
@keyframes bar_35{
    from{background-color: #e4ffe8;}
    to {background-color:  #C97374;}
}
@-webkit-keyframes bar_35{
    from {background-color: #e4ffe8;}
    to {background-color:  #C97374;}
}
#bar_36{
    height: 1em;
    background-color: #D47674;
    animation: bar_36 5s;
    -webkit-animation: bar_36 5s;
}
@keyframes bar_36{
    from{background-color: #d9fde0;}
    to {background-color:  #D47674;}
}
@-webkit-keyframes bar_36{
    from {background-color: #d9fde0;}
    to {background-color:  #D47674;}
}
#bar_37{
    height: 1em;
    background-color: #DC7974;
    animation: bar_37 5s;
    -webkit-animation: bar_37 5s;
}
@keyframes bar_37{
    from{background-color: #c8f7d1;}
    to {background-color:  #DC7974;}
}
@-webkit-keyframes bar_37{
    from {background-color: #c8f7d1;}
    to {background-color:  #DC7974;}
}
#bar_38{
    height: 1em;
    background-color: #E37973;
    animation: bar_38 5s;
    -webkit-animation: bar_38 5s;
}
@keyframes bar_38{
    from{background-color: #b5f0c0;}
    to {background-color:  #E37973;}
}
@-webkit-keyframes bar_38{
    from {background-color: #b5f0c0;}
    to {background-color:  #E37973;}
}
#bar_39{
    height: 1em;
    background-color: #e87a71;
    animation: bar_39 5s;
    -webkit-animation: bar_39 5s;
}
@keyframes bar_39{
    from{background-color: #a6e7b2;}
    to {background-color:  #e87a71;}
}
@-webkit-keyframes bar_39{
    from {background-color: #a6e7b2;}
    to {background-color:  #e87a71;}
}
#bar_40{
    height: 1em;
    background-color: #EF796D;
    animation: bar_40 5s;
    -webkit-animation: bar_40 5s;
}
@keyframes bar_40{
    from{background-color: #8ddd9c;}
    to {background-color:  #EF796D;}
}
@-webkit-keyframes bar_40{
    from {background-color: #8ddd9c;}
    to {background-color:  #EF796D;}
}
#bar_41{
    height: 1em;
    background-color: #f67669;
    animation: bar_41 5s;
    -webkit-animation: bar_41 5s;
}
@keyframes bar_41{
    from{background-color: #7bce8a;}
    to {background-color:  #f67669;}
}
@-webkit-keyframes bar_41{
    from {background-color: #7bce8a;}
    to {background-color:  #f67669;}
}
#bar_42{
    height: 1em;
    background-color:#fa7365;
    animation: bar_42 5s;
    -webkit-animation: bar_42 5s;
}
@keyframes bar_42{
    from{background-color: #69bd78;}
    to {background-color:  #fa7365;}
}
@-webkit-keyframes bar_42{
    from {background-color: #69bd78;}
    to {background-color:  #fa7365;}
}
#bar_43{
    height: 1em;
    background-color: #FB7460;
    animation: bar_43 5s;
    -webkit-animation: bar_43 5s;
}
@keyframes bar_43{
    from{background-color: #60b36f;}
    to {background-color:  #FB7460;}
}
@-webkit-keyframes bar_43{
    from {background-color: #60b36f;}
    to {background-color:  #FB7460;}
}
#bar_44{
    height: 1em;
    background-color: #ff725c;
    animation: bar_44 5s;
    -webkit-animation: bar_44 5s;
}
@keyframes bar_44{
    from{background-color: #55a764;}
    to {background-color:  #ff725c;}
}
@-webkit-keyframes bar_44{
    from {background-color: #55a764;}
    to {background-color:  #ff725c;}
}
#bar_45{
    height: 1em;
    background-color: #ff705a;
    animation: bar_45 5s;
    -webkit-animation: bar_45 5s;
}
@keyframes bar_45{
    from{background-color: #51a05f;}
    to {background-color:  #ff705a;}
}
@-webkit-keyframes bar_45{
    from {background-color: #51a05f;}
    to {background-color:  #ff705a;}
}
#bar_46{
    height: 1em;
    background-color: #ff6e57;
    animation: bar_46 5s;
    -webkit-animation: bar_46 5s;
}
@keyframes bar_46{
    from{background-color: #489957;}
    to {background-color:  #ff6e57;}
}
@-webkit-keyframes bar_46{
    from {background-color: #489957;}
    to {background-color:  #ff6e57;}
}
#bar_47{
    height: 1.1em;
    background-color: #ff6e57;
    animation: bar_47 5s;
    -webkit-animation: bar_47 5s;
}
@keyframes bar_47{
    from{background-color: #449453;}
    to {background-color:  #ff6e57;}
}
@-webkit-keyframes bar_47{
    from {background-color: #449453;}
    to {background-color:  #ff6e57;}
}
/* 字体样式改变 */
#word{
    font-size: 20px;
    color: ivory;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 星星变大 */
#star_0{
    position: absolute;
    left: 5%;
    top: 10px;
    animation: star_0 5s;
    -webkit-animation: star_0 5s;
}
@keyframes star_0{
    0% {transform:scale(.0);}
    50% {transform:scale(.2);}
}
@-webkit-keyframes star_0{
    0% {transform:scale(.0);}
    100% {transform:scale(.2);}
}
#star_1{
    position: absolute;
    left: 19%;
    top: 100px;
    animation: star_0 5s;
    -webkit-animation: star_0 5s;
}

#star_2{
    position: absolute;
    left: 38%;
    top: 30px;
    animation: star_0 5s;
    -webkit-animation: star_0 5s;
}

#star_3{
    position: absolute;
    left: 59%;
    top: 68px;
    animation: star_0 5s;
    -webkit-animation: star_0 5s;
}

#star_4{
    position: absolute;
    left: 75%;
    top: 19px;
    animation: star_0 5s;
    -webkit-animation: star_0 5s;
}

#star_5{
    position: absolute;
    left: 89%;
    top: 59px;
    animation: star_0 5s;
    -webkit-animation: star_0 5s;
}