#words{
    font-size: 28px;
    color: #5b5d5f;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 渐变天空样式 */
#bar1{
    height: 1em;
    background-color: #0099ff;
}
#bar2{
    height: 1em;
    background-color: #28a8fd;
}
#bar3{
    height: 1em;
    background-color: #47b6ff;
}
#bar4{
    height: 1em;
    background-color: #58bcff;
}
#bar5{
    height: 1em;
    background-color: #75c8ff;
}
#bar6{
    height: 1em;
    background-color: #90d3ff;
}
#bar7{
    height: 1em;
    background-color: #a0d9ff;
}
#bar8{
    height: 1em;
    background-color: #aeddfc;
}
#bar9{
    height: 1em;
    background-color: #b7e1fd;
}
#bar10{
    height: 1em;
    background-color: #c1e6ff;
}
#bar11{
    height: 1em;
    background-color: #c9e9ff;
}
#bar12{
    height: 1em;
    background-color: #d2eeff;
}
#bar13{
    height: 1em;
    background-color: #dbf1ff;
}
#bar14{
    height: 1em;
    background-color: #e3f4ff;
}
#bar15{
    height: 1em;
    background-color: #e8f7ff;
}
#bar16{
    height: 1em;
    background-color: #edf9ff;
}
#bar17{
    height: 1em;
    background-color: #f0faff;
}
#bar18{
    height: 1em;
    background-color: #f4faff;
}
#bar19{
    height: 1em;
    background-color: #f7fbff;
}
#bar20{
    height: 1em;
    background-color: #f6fbff;
}
#bar21{
    height: 1em;
    background-color: #f6fbff;
}
#bar22{
    height: 1em;
    background-color: #f6fbff;
}
#bar23{
    height: 1em;
    background-color: #f6fbff;
}
#bar24{
    height: 1em;
    background-color: #f6fbff;
}
#bar25{
    height: 1em;
    background-color: #f6fbff;
}
#bar26{
    height: 1em;
    background-color: #f6fbff;
}
#bar27{
    height: 1em;
    background-color: #f6fbff;
}
#bar28{
    height: 1em;
    background-color: #f6fbff;
}
#bar29{
    height: 1em;
    background-color: #f9fcff;
}
#bar30{
    height: 1em;
    background-color: #f7fbffc4;
}
/* 渐变草地样式 */
#bar31{
    height: 1em;
    background-color: #f7fcf9cb;
}
#bar32{
    height: 1em;
    background-color: #f7fdf9cb;
}
#bar33{
    height: 1em;
    background-color: #f6fff8cb;
}
#bar34{
    height: 1em;
    background-color: #f0fff3cb;
}
#bar35{
    height: 1em;
    background-color: #e4ffe8cb;
}
#bar36{
    height: 1em;
    background-color: #d9fde0cb;
}
#bar37{
    height: 1em;
    background-color: #c8f7d1cb;
}
#bar38{
    height: 1em;
    background-color: #b5f0c0cb;
}
#bar39{
    height: 1em;
    background-color: #a6e7b2cb;
}
#bar40{
    height: 1em;
    background-color: #8ddd9cc7;
}
#bar41{
    height: 1em;
    background-color: #7bce8acb;
}
#bar42{
    height: 1em;
    background-color: #69bd78c7;
}
#bar43{
    height: 1em;
    background-color: #60b36fcb;
}
#bar44{
    height: 1em;
    background-color: #55a764cb;
}
#bar45{
    height: 1em;
    background-color: #53a061d5;
}
#bar46{
    height: 1em;
    background-color: #529c60e5;
}
/* 设置箭头样式 */
#arrow{
    font-size: 50px;
    color: rgb(100, 98, 98);
    float: right;
    position: absolute;
    right: 45px;
    bottom: 10px;
}
/* 设置红色花朵样式 */
.redFlower{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #A72226;
    position: relative;
    float: left;
}
/* 设置粉色花朵样式 */
.pinkFlower{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #D04E5B;
    position: relative;
    float: left;
}
/* 设置花朵各自位置 */
#flower1{
    top: 600px;
    left: 40px;
}
#flower2{
    top: 680px;
    left: 60px;
}
#flower3{
    top: 700px;
    left: 190px;
}
#flower4{
    top: 698px;
    left: 192px;
}
#flower5{
    top: 580px;
    left: 200px;
}
#flower6{
    top: 600px;
    left: 250px;
}
#flower7{
    top: 600px;
    left: 40px;
}
#nihao{
    height: 1em;
    background-color: red;
}